// Illumina specific params

params {

    // Illumina sample prefixes - list of strings that prefix samples
    illuminaPrefixes = false

    // illumina fastq search path
    illuminaSuffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
    fastq_exts = ['.fastq.gz', '.fq.gz']

    // Use cram input instead of fastq files
    cram = false
    
    // Output cram instead of bam files
    outCram = false

    // Clean BAM header to anonymise fastq names
    cleanBamHeader = false

    // frequency threshold for consensus variant
    FreqThreshold = 0.75

    // Minimum coverage depth to call variant
    MinDepth = 10

    // Variant frequency threshold to call variant
    MinFreqThreshold = 0.25

    // Minimum read length for length filtering
    MinReadLen = 105

    // Maximum read length for length filtering
    MaxReadLen = 500

    // Illumina Platform for Adapter trimming
    IlluminaPlatform = "NexteraPE-PE.fa"

}

